---
- name: "Copy MetalLB Manifests"
  become: true
  template:
    src: "{{ item }}.j2"
    dest: "/home/{{ deploy_user }}/{{ item }}"
  loop:
    - bootstrap-metallb.yml
    - metallb-config.yml
  register: "rendering"
  when:
    - "inventory_hostname == groups['kube-master'][0]"

- name: "Install MetalLB"
  shell: kubectl apply -f /home/{{ deploy_user }}/{{ item.item }}
  loop: "{{ rendering.results }}"
  when:
    - "inventory_hostname == groups['kube-master'][0]"

