---
# controller-prep.yml
# Run this playbook to set up a contoller node that will issue commands to the
# associated kubernetes cluster
#
# Assumptions:
# Fresh-box.yml has been run to update cache and upgrade packages
#
# Variables:
# `release_branch`: branch/release of kubespray to use. Default: release-2.12
# `my_cluster_name`: arbitrary name for your cluster to be used in folder
#                    structure on the controller. Default: mycluster
#
# Example invocation:
# ansible-playbook -i inventory/hosts.yml playbooks/controller/controller-prep.yml
#
# ansible-playbook -i inventory/hosts.yml playbooks/controller/controller-prep.yml \
#                  -e release_branch=release-2.10 \
#                  -e my_cluster_name=ml_cluster

- hosts: controllers
  remote_user: root
  vars: 
    release_branch: release-2.12
    my_cluster_name: mycluster
    cluster_nodes_ips: "{{ groups['cluster'] | map('extract', hostvars, ['ansible_host']) | join(' ') }}"
    master_node: "{{ hostvars['master-0'].ansible_host }}"
  tasks:
      - name: Update & upgrade apt, install python 
        apt:
            name: ['python3-pip', 'git', 'curl', 'apt-transport-https', 'gnupg2']
            state: present

      - name: Get Kubectl apt-key
        apt_key:
            url: https://packages.cloud.google.com/apt/doc/apt-key.gpg 
            state: present

      - name: Add Deb to source list
        lineinfile:
            path: /etc/apt/sources.list.d/kubernetes.list
            create: yes
            state: present
            line: "deb https://apt.kubernetes.io/ kubernetes-xenial main"

      - name: Install Kubectl
        apt:
            name: 'kubectl'
            state: present
            update_cache: yes

      - name: Upgrade Pip
        shell: pip3 install --upgrade pip

      - name: Clone Kubespray Repo
        git:
            repo: 'https://github.com/kubernetes-sigs/kubespray.git'
            dest: /root/kubespray
            version: '{{ release_branch }}'

      - name: Install Required Packages
        shell: pip install -r requirements.txt
        args:
            chdir: kubespray/

      - name: Copy Inventory Folder
        copy:
            src: /root/kubespray/inventory/sample/
            dest: /root/kubespray/inventory/{{ my_cluster_name }}
            remote_src: yes

      - name: Ensure Hosts File Does Not Exist
        file:
            path: /root/kubespray/inventory/{{ my_cluster_name }}/hosts.yml
            state: absent

      - name: Generate Inventory File Contents
        command: 
            cmd: python3 contrib/inventory_builder/inventory.py {{ cluster_nodes_ips }}
            chdir: /root/kubespray
        environment: 
            CONFIG_FILE: /root/kubespray/inventory/{{ my_cluster_name }}/hosts.yml

      - name: Add my specific requirenments for connection to cluster
        blockinfile:
            path: ~/kubespray/inventory/{{ my_cluster_name }}/group_vars/all/all.yml
            block: |
                ansible_user: {{ deploy_user }}
                ansible_connection: ssh
                ansible_python_interpreter: /usr/bin/python3

      - name: Generate SSH key
        openssh_keypair:
          path: "~/.ssh/id_rsa"
          mode: 0600

      - name: Fetch Public key
        fetch:
            src: "~/.ssh/id_rsa.pub"
            dest: "/tmp/ctl-id_rsa.pub"
            flat: yes

      - name: Write file to get kube config
        blockinfile:
            path: /root/get_config.sh
            create: yes
            block: |
                mkdir /root/.kube
                ssh {{ deploy_user }}@{{ master_node}} sudo cp /etc/kubernetes/admin.conf /home/{{ deploy_user }}/config
                ssh {{ deploy_user }}@{{ master_node}} sudo chmod +r /home/{{ deploy_user }}/config
                scp {{ deploy_user }}@{{ master_node}}:/home/{{ deploy_user }}/config /root/.kube/config
                ssh {{ deploy_user }}@{{ master_node}} sudo rm /home/{{ deploy_user }}/config

