---
# fresh-box.yml
#
# Update the cache and upgrade programs on a fresh Ubuntu or Debian VM
# Add a user on each node that will be used

- hosts: all
  remote_user: root
  tasks:
      - name: Update the Cache
        apt: 
            name: python3-apt
            state: present
            update_cache: yes

      - name: Upgrade System Packages
        apt: 
            upgrade: full

      - name: Install Common Packages
        apt:
            name: [gcc, python3, python3-setuptools, acct, ntp, dnsutils, iftop, wget, apt-transport-https, ca-certificates, curl, jq, software-properties-common, libssl-dev]
            state: present
        
      - name: Make remote user
        user:
            name: '{{ deploy_user }}'
            group: sudo
            state: present
            shell: /bin/bash
            createhome: yes
            home: '/home/{{ deploy_user }}'
            comment: "Privilaged User"
            expires: 1609507559  # time since epoch, 1/2021

            #            password: '$6$RUk1P3yT2aG$h5l6iEq7Fup.O96tDK5e8v2ouN.SWIdABIb.tJ3nqf3h3fBjKJnO3x66WQuqMU1cfmFCDewHqVTzs8Jm4EHTZ1'
